<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>
RewriteEngine On

RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_URI} \.(?:ico|html|js|css|xml|ttf|eot|ott|woff|svg|kml|csv|geo_cache)$
RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule .* %{REQUEST_URI}.gz [L]

<FilesMatch "\.ico\.gz$">
  ForceType image/vnd.microsoft.icon
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.html\.gz$">
  ForceType text/html
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.css\.gz$">
  ForceType text/css
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.js\.gz$">
  ForceType application/x-javascript
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.xml\.gz$">
  ForceType text/xml
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.ttf\.gz$">
  ForceType font/ttf
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.eot\.gz$">
  ForceType application/vnd.ms-fontobject
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.ott\.gz$">
  ForceType font/ott
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.woff\.gz$">
  ForceType application/font-woff
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.svg\.gz$">
  ForceType image/svg+xml
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.kml\.gz$">
  ForceType text/xml
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.csv\.gz$">
  ForceType text/csv
  AddEncoding x-gzip .gz
</FilesMatch>
<FilesMatch "\.geo_cache\.gz$">
  ForceType text/csv
  AddEncoding x-gzip .gz
</FilesMatch>
